@using System.Data
@using NPOI.XSSF.UserModel
@using NPOI.SS.UserModel
<InputFile OnChange="@ImportExcelFile">Import Data</InputFile>

@foreach(DataRow row in dataTable.Rows)
{
    <tr>
        @foreach(DataColumn col in dataTable.Columns)
            {
                <td>@row[col.ColumnName].ToString()</td>                            
            }                        
    </tr>
}
@code {
    DataTable dataTable = new DataTable();
    public async Task ImportExcelFile(InputFileChangeEventArgs e)
    {
        var filestream = e.File.OpenReadStream();
        var ms = new MemoryStream();
        await filestream.CopyToAsync(ms);
        filestream.Close();
        ms.Position = 0;
        ISheet sheet;
        var xsswb = new XSSFWorkbook(ms);

        sheet = xsswb.GetSheetAt(0);
        IRow hr = sheet.GetRow(0);
        var rl = new List<string>();
        int cc = hr.LastCellNum;
        for(var j = 0; j < cc; j++)
        {
            ICell cell = hr.GetCell(j);
            dataTable.Columns.Add(cell.ToString());
        }
        for (var j = (sheet.FirstRowNum + 1); j <= sheet.LastRowNum; j++)
        {
            var r = sheet.GetRow(j);
            for(var i=r.FirstCellNum; i<cc; i++)
            {
                rl.Add(r.GetCell(i).ToString());
            }
            if(rl.Count() > 0)
            {
                dataTable.Rows.Add(rl.ToArray());
            }
            rl.Clear();
        }
    }
}
